:root {
  --white: #ffffff;
  --black: #000000;
  --red: #b00000;

  --bg-dark: #0b0b0b;
  --panel-dark: #141414;

  --text-main: #ffffff;
  --text-muted: #bbbbbb;

  --border-radius: 12px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--text-main);
}
/* DEV MODE: force a 9:16 canvas in desktop browser */
body.dev-fixed {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #111;
}

body.dev-fixed #overlay-root {
  width: 1080px;
  height: 1920px;
}

